.first-div {
  width: 80px;
  height: 35px;
  background-color: aquamarine;
}

.second-div {
  width: 55px;
  height: 35px;
}

#root {
  color: green;
}

.pressBtn {
  color: blue;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: rgba(0, 255, 76, 0.644);
}

.pressBtn:hover {
  color: rgba(0, 255, 76, 0.644);
  background-color: rgba(0, 0, 255, 0.644);
}